body {
    font-size: 1em;
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
}

#header {
    width: 100%;
    background-color: #0047B3;
}

#logo {
    position: absolute;
    left: 15px;
    top: 5px;
}

#header-imposter {
    background-color: #FC0408;
    vertical-align: bottom;
    height: 25px;
}

    #header-imposter p.imposter-info {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #FFFFFF;
        text-align: right;
        float: right;
        margin-top: 5px;
        margin-right: 15px;
        font-weight: bold;
        font-size: 80%;
    }

        #header-imposter p.imposter-info a:link {
            color: #FFFFFF;
            text-decoration: none;
        }

        #header-imposter p.imposter-info a:visited {
            color: #FFFFFF;
            text-decoration: none;
        }

        #header-imposter p.imposter-info a:hover {
            color: #FFFFFF;
            text-decoration: none;
        }

#header-top {
    background-color: #0047B3;
    vertical-align: bottom;
    height: 70px;
}

#header-bottom {
    background-color: #0047B3;
    height: 25px;
}

#user-info {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 70%;
    color: #FFFFFF;
    text-align: right;
    float: right;
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
}

    #user-info ul {
        margin: 0;
        padding: 0;
    }

    #user-info li {
        list-style-type: none;
    }

.user {
    font-size: 110%;
    font-weight: bold;
}

#user-info a:link {
    color: #B8B8B8;
    text-decoration: none;
}

#user-info a:visited {
    color: #B8B8B8;
    text-decoration: none;
}

#user-info a:hover {
    color: #FF0000;
    text-decoration: none;
}

#user-info li.itemreview > a:link {
    color: #B8B8B8;
    text-decoration: none;
}

#user-info li.itemreview > a:visited {
    color: #B8B8B8;
    text-decoration: none;
}

#user-info li.itemreview > a:hover {
    color: #FF0000;
    text-decoration: none;
}

#header p {
    margin: 0px;
    padding: 0px;
}

#login-box {
    width: 450px;
    height: 240px;
    color: #0047B3;
    background-color: #E6F0FF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 90%;
    font-style: normal;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    border-color: #0047B3;
    border-radius: 5px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-right: 35px;
    padding-left: 35px;
}

    #login-box h1 {
        text-align: center;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 120%;
        font-style: normal;
        font-weight: bold;
    }

    #login-box form input {
        width: 100%;
        padding: 10px 15px 10px 15px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #CCCCCC;
        box-sizing: border-box;
        position: static;
        font-size: 125%;
        font-weight: bold;
        line-height: normal;
    }

    #login-box form button {
        width: 100%;
        padding: 10px 15px 10px 15px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #CCCCCC;
        box-sizing: border-box;
        position: static;
        font-size: 125%;
        font-weight: bold;
        line-height: normal;
        background-color: #0047B3;
        color: #FFFFFF;
    }

#login-notice {
    width: 450px;
    color: #0047B3;
    background-color: #E6F0FF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 80%;
    font-style: normal;
    font-weight: normal;
    border-width: 1px;
    border-style: solid;
    border-color: #0047B3;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 35px;
    padding-left: 35px;
}

    #login-notice p {
        margin: 0;
        padding: 0;
    }

#login-error-box {
    width: 450px;
    color: #FF0000;
    background-color: #FFE6E6;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: bold;
    border-left: 10px solid #FF0000;
    margin-top: 50px;
    margin-bottom: -25px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

#content {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
    color: #0047B3;
    font-size: 85%;
    min-height: 570px;
}

    #content h1 {
        font-size: 200%;
        font-weight: bold;
        color: #0047B3;
        text-align: center;
        margin: 10px;
        padding-bottom: 0.25em;
    }

    #content h2 {
        font-size: 125%;
        font-weight: bold;
        color: #0047B3;
        text-align: center;
        margin-top: 10px;
        padding-bottom: 0.25em;
    }

    #content hr {
        width: 95%
    }

    #content legend {
        padding-left: 10px;
        padding-right: 15px;
        padding-bottom: 5px;
        color: #0047B3;
        font-weight: bold;
        font-size: 110%;
    }

    #content fieldset {
        padding-left: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #content > table {
        width: 98%;
        margin-top: 4px;
        margin-left: 4px;
        margin-right: 4px;
        margin-bottom: 15px;
        border-collapse: collapse;
    }

        #content > table.masterschedule {
            width: 98%;
            margin-top: 4px;
            margin-left: 4px;
            margin-right: 4px;
            margin-bottom: 15px;
            border-collapse: separate;
            border-width: medium;
        }

        #content > table.survey {
            width: 40%;
            margin-top: 4px;
            margin-left: 4px;
            margin-right: 4px;
            margin-bottom: 15px;
            border-collapse: separate;
            border-width: medium;
        }

    #content > th {
        color: #72746D;
        text-align: left;
    }

    #content table tr > th {
        padding-left: 5px;
    }

    #content table tr > td {
        padding-left: 5px;
    }

    #content td {
        /* font-size: 95%; */
        color: #0047B3;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }

        #content td.survey {
            /* font-size: 95%; */
            color: #000000;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
        }

        #content td.surveycenter {
            /* font-size: 95%; */
            color: #000000;
            text-align: center;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
        }

    #content .formerrorlist {
        color: #FF0000;
        font-weight: normal;
    }

    #content a:link {
        color: #0047B3;
        text-decoration: none;
        font-weight: bold;
    }

    #content a:visited {
        color: #0047B3;
        text-decoration: none;
        font-weight: bold;
    }

    #content a:hover {
        color: #0047B3;
        text-decoration: none;
        font-weight: bold;
    }

    #content th a:link {
        color: #72746D;
        text-decoration: none;
        font-weight: bold;
    }

    #content th a:visited {
        color: #72746D;
        text-decoration: none;
        font-weight: bold;
    }

    #content th a:hover {
        color: #72746D;
        text-decoration: none;
        font-weight: bold;
    }

    #content form div {
        margin: 0 0 0.25ex 0;
        padding-left: 1em;
        clear: left;
    }

        #content form div.actions {
            margin: 0.5em 0 0 18.25em;
            padding: 0 0 0 0;
        }

    #content form input, textarea, select, option {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 95%;
        font-weight: bold;
        cursor: default;
        padding: 1px;
        margin-bottom: 1px;
    }

        #content form input.numeric {
            text-align: right;
        }

        #content form input[readonly] {
            background-color: #CCCCCC;
            cursor: default;
        }

    #content form label {
        position: relative;
        width: 18em;
        display: block;
        float: left;
        padding-right: 1em;
        font-weight: bold;
    }

        #content form label.wideindent {
            position: relative;
            width: 24em;
            display: block;
            float: left;
            padding-left: 4em;
            font-weight: bold;
        }

        #content form label.secondary {
            float: none;
            width: auto;
            font-weight: normal;
            margin: 0 0 0 18em;
            padding-left: 1em;
        }

        #content form label.toplabel {
            display: block;
            float: none;
            font-weight: bold;
            width: auto;
        }

        #content form label.indented {
            padding-left: 2em;
            width: 16em;
        }

        #content form label.nofield {
            position: relative;
            line-height: 1.5;
            width: 18em;
            display: block;
            float: left;
            padding-right: 1em;
            font-weight: bold;
        }

        #content form label em {
            position: absolute;
            left: 18em;
            top: 0;
        }

    #content input.form-submit-button {
        width: 10em;
        padding: 5px 5px 5px 5px;
        margin: 20px 0 0 0px;
        display: inline-block;
        border: 1px solid #0047B3;
        box-sizing: border-box;
        position: static;
        font-size: 120%;
        font-weight: bold;
        line-height: normal;
        background-color: #0047B3;
        color: #FFFFFF;
    }

    #content p.instruction {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #0047B3;
        text-align: center;
        font-weight: bold;
    }

    #content p.warning {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #FF0000;
        font-weight: bold;
    }

.clear {
    clear: both;
}

#content .message-box {
    float: left;
    width: calc(100% - 2px);
    color: #0047B3;
    background-color: #E6F0FF;
    border-width: 2px;
    border-style: solid;
    border-color: #0047B3;
    border-radius: 5px;
    margin-bottom: 15px;
}

    #content .message-box h1 {
        text-align: center;
        font-size: 2em;
        font-style: normal;
        font-weight: bold;
        margin: 10px;
        padding: 0;
    }

    #content .message-box h2 {
        text-align: center;
        font-size: 1.25em;
        font-style: normal;
        font-weight: bold;
        margin: 0px 10px 10px 10px;
        padding: 0;
    }

#content .quote-box {
    float: left;
    width: calc(100% - 2px);
    color: #0047B3;
    background-color: #E6F0FF;
    border-width: 2px;
    border-style: solid;
    border-color: #0047B3;
    border-radius: 5px;
    margin-bottom: 15px;
}

    #content .quote-box h1 {
        text-align: center;
        font-size: 1.25em;
        font-style: normal;
        font-weight: bold;
        margin: 2px;
        padding: 0;
    }

#content .homepage-box {
    float: left;
    width: 100%;
    color: #000000;
    background-color: #F6F6F6;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #D9D9D9;
    border-bottom-color: #D9D9D9;
    border-left-color: #D9D9D9;
    border-radius: 5px;
    margin-bottom: 10px;
}

    #content .homepage-box h1 {
        font-size: 115%;
        font-weight: bold;
        color: #0047B3;
        text-align: left;
        margin: 0px;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        background-color: #D9D9D9;
        padding-left: 4px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

        #content .homepage-box h1 a:link {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #0047B3;
            text-decoration: none;
        }

        #content .homepage-box h1 a:hover {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #0047B3;
            text-decoration: none;
        }

        #content .homepage-box h1 a:visited {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #0047B3;
            text-decoration: none;
        }

    #content .homepage-box h2 {
        font-size: 105%;
        font-weight: bold;
        color: #0047B3;
        text-align: left;
        margin: 0 0 0 0;
        padding: 0.5em 0.5em 0.1em 0.75em;
        float: none;
    }

        #content .homepage-box h2 a:link {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #0047B3;
            text-decoration: none;
        }

        #content .homepage-box h2 a:hover {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #0047B3;
            text-decoration: none;
        }

        #content .homepage-box h2 a:visited {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #0047B3;
            text-decoration: none;
        }

    #content .homepage-box p {
        padding: 0.15em 1em 0.75em 0.75em;
        clear: none;
        margin: 0 0 0 0;
    }

    #content .homepage-box .byline {
        float: none;
        font-size: 75%;
        padding-left: 1em;
        padding-top: 0;
        color: #72746D;
        margin: 0px;
        padding-bottom: 0.25em;
    }

    #content .homepage-box table {
        width: 99%;
        margin-top: 4px;
        margin-left: 4px;
        margin-right: 4px;
        margin-bottom: 15px;
        border-collapse: collapse;
    }

    #content .homepage-box th {
        font-size: 110%;
        color: #666666;
        text-align: left;
        padding-bottom: 0.2em;
        border-bottom: 1px solid #CCCCCC;
    }

    #content .homepage-box tr.enhanced:hover {
        background-color: #E6E6E6;
    }

    #content .homepage-box td {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }

        #content .homepage-box td.duenow {
            font-style: normal;
            color: #FF0000;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
        }

#content .eventnav {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
}

    #content .eventnav h1 {
        font-size: 150%;
        font-weight: bold;
        color: #0047B3;
        text-align: left;
        margin: 0px;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        background-color: #CCCCCC;
        padding-left: 4px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    #content .eventnav ul {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

#content .page-box {
    float: left;
    width: 100%;
    color: #000000;
    background-color: #F6F6F6;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC;
    margin-bottom: 20px;
    border-radius: 5px;
}

    #content .page-box h1 {
        font-size: 130%;
        font-weight: bold;
        color: #0047B3;
        text-align: left;
        margin: 0px 0px 0px 0px;
        padding: 0.2em;
        background-color: #CCCCCC;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

        #content .page-box h1.secondary {
            font-size: 115%;
            font-weight: bold;
            color: #0047B3;
            text-align: left;
            margin: 10px 0px 10px 0px;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            background-color: #CCCCCC;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            padding-left: 4px;
        }

        #content .page-box h1.category {
            font-size: 115%;
            font-weight: bold;
            color: #FFFFFF;
            text-align: left;
            margin: 25px 20px 10px 0px;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            background-color: #0047B3;
            padding-left: 4px;
        }

        #content .page-box h1 a:link {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            text-decoration: none;
        }

        #content .page-box h1 a:hover {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            text-decoration: none;
        }

        #content .page-box h1 a:visited {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            text-decoration: none;
        }

    #content .page-box h2 {
        font-size: 105%;
        font-weight: bold;
        color: #0047B3;
        text-align: left;
        margin: 0.1em;
        padding: 0 0 0.1em 0.75em;
        float: none;
    }

        #content .page-box h2 a:link {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 105%;
            text-decoration: none;
        }

        #content .page-box h2 a:hover {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 105%;
            text-decoration: none;
        }

        #content .page-box h2 a:visited {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 105%;
            text-decoration: none;
        }

    #content .page-box h3 {
        font-size: 125%;
        font-weight: bold;
        color: #0047B3;
        text-align: left;
        margin-top: 0.1em;
        margin-right: 0.1em;
        margin-bottom: 0.1em;
        margin-left: 0.1em;
        padding-bottom: 0.1em;
        padding-left: 10px;
        float: none;
        padding-top: 0.2em;
    }

    #content .page-box h4 {
        font-size: 125%;
        font-weight: bold;
        color: #0047B3;
        text-align: left;
        margin-top: 0.1em;
        margin-right: 0.1em;
        margin-bottom: 0.1em;
        margin-left: 0em;
        padding-bottom: 0.1em;
        padding-left: 4px;
        float: none;
    }

    #content .page-box p {
        padding: 1em 1em 1em 1em;
        clear: none;
        margin: 0 0 0.75em 0;
    }

        #content .page-box p.siteroom {
            font-weight: bold;
            color: #000000;
            font-size: 1.25em;
            margin: 0;
            padding: 1.5em 0 0 5px;
        }

        #content .page-box p.equipcategory {
            font-weight: bold;
            color: #000000;
            font-size: 1.25em;
            margin: 0;
            padding: .75em 0 0 15px;
        }

        #content .page-box p.notes {
            color: #000000;
            clear: none;
            font-size: 110%;
            margin: 0;
            padding: 1em 1em 0.25em 1.5em;
        }

        #content .page-box p.replynotes {
            color: #000000;
            clear: none;
            font-size: 110%;
            margin: 0;
            padding: 0.25em 1em 0.25em 5em;
        }

        #content .page-box p.formerrorlist {
            margin-bottom: 0;
            padding: 0 0 0 1em;
        }

    #content .page-box ul.formerrorlist {
        margin-top: 0;
        padding-top: 0.25em;
        padding-bottom: 1em;
    }

    #content .page-box .byline {
        float: none;
        padding: 0 0 0.25em 1em;
        color: #72746D;
        margin: 0px;
        font-size: 90%;
    }

    #content .page-box .notebyline {
        float: none;
        padding: 0 0 0.25em 2em;
        color: #72746D;
        margin: 0px;
        font-size: 90%;
        font-style: italic;
    }

    #content .page-box .notereplybyline {
        float: none;
        padding: 0 0 0.5em 6.5em;
        color: #72746D;
        margin: 0px;
        font-size: 90%;
        font-style: italic;
    }

    #content .page-box table {
        width: 99%;
        margin-top: 4px;
        margin-left: 4px;
        margin-right: 4px;
        margin-bottom: 25px;
        border-collapse: collapse;
    }

        #content .page-box table.selection {
            width: 99%;
            font-size: 100%;
            margin-top: 4px;
            margin-left: 15px;
            margin-right: 4px;
            margin-bottom: 15px;
            border-collapse: collapse;
        }

    #content .page-box th {
        font-size: 110%;
        background-color: #F6F6F6;
        color: #72746D;
        text-align: left;
        padding-bottom: 0.2em;
        border-bottom: 1px solid #CCCCCC;
        position: sticky;
        top: 0;
        z-index: 2;
    }

        #content .page-box th.vertical {
            color: #72746D;
            vertical-align: bottom;
            text-align: center;
            text-orientation: upright;
            text-decoration: none;
        }

        #content .page-box th.horizctrbottom {
            color: #72746D;
            vertical-align: bottom;
            text-align: center;
            text-decoration: none;
        }

        #content .page-box th.horizleftbottom {
            color: #72746D;
            vertical-align: bottom;
            text-align: left;
            text-decoration: none;
        }

        #content .page-box th.datedisplay {
            text-align: center;
            width: 8em;
        }

        #content .page-box th.vertical a:link {
            color: #72746D;
            vertical-align: bottom;
            text-align: center;
            writing-mode: vertical-lr;
            text-orientation: upright;
            text-decoration: none;
            font-weight: bold;
        }

        #content .page-box th.vertical a:visited {
            color: #72746D;
            vertical-align: bottom;
            text-align: center;
            writing-mode: vertical-lr;
            text-orientation: upright;
            text-decoration: none;
            font-weight: bold;
        }

        #content .page-box th.vertical a:hover {
            color: #72746D;
            vertical-align: bottom;
            text-align: center;
            writing-mode: vertical-lr;
            text-orientation: upright;
            text-decoration: none;
            font-weight: bold;
        }

    #content .page-box tr.enhanced:hover {
        background-color: #E6E6E6;
    }

    #content .page-box td {
        font-size: 100%;
        color: #0047B3;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }

    #content .page-box tr.summarydata {
        height: 22px;
    }

    #content .page-box td.fieldname {
        font-size: 95%;
        color: #0047B3;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        font-weight: bold;
        width: 25%;
        vertical-align: text-top;
    }

    #content .page-box td.fielddata {
        font-size: 95%;
        color: #000000;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        width: 75%;
    }

        #content .page-box td.fielddata a:link {
            color: #000000;
            font-weight: normal;
            text-decoration: none;
            text-decoration-style: dotted;
        }

        #content .page-box td.fielddata a:hover {
            color: #000000;
            font-weight: normal;
            text-decoration: none;
            text-decoration-style: dotted;
        }

        #content .page-box td.fielddata a:visited {
            color: #000000;
            font-weight: normal;
            text-decoration: none;
            text-decoration-style: dotted;
        }

        #content .page-box td.fielddata a:active {
            color: #000000;
            font-weight: normal;
            text-decoration: none;
            text-decoration-style: dotted;
        }

        #content .page-box td.fielddata p {
            font-size: 100%;
            color: #000000;
            padding: 0.2em 0 0.2em 0;
            margin: 0 0 0 0;
            width: 75%;
        }

    #content .page-box td.duenow {
        font-size: 95%;
        font-style: normal;
        color: #FF0000;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }

    #content .page-box td.datedisplay {
        padding-top: .5em;
        padding-bottom: .5em;
        border-bottom: 1px solid #CCCCCC;
        text-align: center;
        width: 8em;
    }

    #content .page-box td.setup {
        font-size: 100%;
        font-style: normal;
        color: #0047B3;
        vertical-align: top;
    }

        #content .page-box td.setup ul {
            text-align: left;
            margin: 0 0 1.25em 0;
            padding-left: 0;
        }

        #content .page-box td.setup li {
            font-size: 100%;
            font-style: normal;
            color: #0047B3;
            list-style-position: inside;
            text-align: left;
            margin: 0;
            padding-left: 0;
        }

        #content .page-box td.setup p {
            font-size: 100%;
            font-style: normal;
            color: #0047B3;
        }

    #content .page-box form {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 95%;
        font-weight: bold;
        cursor: default;
        /* padding: 1px; */
        padding-bottom: 1em;
    }

#content .form-box {
    float: left;
    width: 100%;
    color: #000000;
    background-color: #F6F6F6;
    padding-bottom: 15px;
}

#content div.justified {
    display: flex;
    justify-content: center;
}

#content ul.boxnav {
    background-color: #E6E6E6;
    text-align: left;
    height: 25px;
    padding: 0;
    font-weight: bold;
    color: #0047B3;
    font-size: 85%;
    margin: 0 0 1.25em 0;
}

#content li.boxnav {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: bold;
    display: inline-block;
    padding: 0 0.6em 0 0.6em;
    color: #0047B3;
    line-height: 25px;
}

#content li.navsep {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: bold;
    display: inline-block;
    padding: 0 0.25em 0 0.25em;
    color: #0047B3;
    line-height: 25px;
}

#content li.navicon {
    display: inline-block;
    padding: 0.25em 0.5em 0 1em;
    line-height: 25px;
}

#content li.boxnav:hover {
    z-index: 1000;
    background-color: #E6F0FF;
}

#content li.boxnav a {
    color: #0047B3;
    display: inline-block;
    outline: 0;
    text-decoration: none;
}

    #content li.boxnav a:link {
        text-decoration: none;
    }

    #content li.boxnav a:hover {
        background-color: #E6F0FF;
    }

    #content li.boxnav a:visited {
        text-decoration: none;
    }

#content ul.itemlink {
    list-style: square;
}

#content li.itemlink {
    margin-top: .15em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: bold;
    margin-right: 1.25em;
    color: #0047B3;
}

    #content li.itemlink a:link {
        text-decoration: none;
    }

    #content li.itemlink a:hover {
        text-decoration: none;
    }

    #content li.itemlink a:visited {
        text-decoration: none;
    }

#content ul.typelink {
    list-style: square;
}

#content li.typelink {
    margin-top: 1em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    font-style: normal;
    font-weight: bold;
    margin-right: 1.25em;
    color: #000000;
}

    #content li.typelink a:link {
        color: #000000;
        text-decoration: none;
    }

    #content li.typelink a:hover {
        color: #000000;
        text-decoration: none;
    }

    #content li.typelink a:visited {
        color: #000000;
        text-decoration: none;
    }

#content ul.planitemlink {
    list-style: none;
}

#content li.planitemlink {
    margin-top: .15em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: bold;
    margin-right: 1.25em;
    margin-left: 2em;
    color: #0047B3;
}

    #content li.planitemlink a:link {
        text-decoration: none;
    }

    #content li.planitemlink a:hover {
        text-decoration: none;
    }

    #content li.planitemlink a:visited {
        text-decoration: none;
    }

#content ul.planitemdetail {
    list-style: none;
    padding: 0;
}

#content li.planitemdetail {
    margin: .15em 0 .15em 4em;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    color: #0047B3;
}

    #content li.planitemdetail ul {
        margin: 0;
        padding: 0;
    }

    #content li.planitemdetail ol {
        margin: 0;
        padding: 0;
    }

    #content li.planitemdetail li {
        margin: 0 0 0 1em;
        padding: 0;
    }

    #content li.planitemdetail p {
        margin: 0;
        padding: 0;
    }

#content ul.plancatlink {
    list-style: none;
}

#content li.plancatlink {
    margin-top: 1em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    font-style: normal;
    font-weight: bold;
    margin-right: 1.25em;
    color: #000000;
}

    #content li.plancatlink a:link {
        color: #000000;
        text-decoration: none;
    }

    #content li.plancatlink a:hover {
        color: #000000;
        text-decoration: none;
    }

    #content li.plancatlink a:visited {
        color: #000000;
        text-decoration: none;
    }

#content ul.columnlist {
    list-style: none;
    margin: 0 0 1.5em 0;
    padding: 0 0 0 10px;
}

#content li.columnlist {
    margin: 0 1.25em .5em 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-style: normal;
    color: #000000;
}

#content ul.linklist {
    list-style: none;
    margin: 0.75em 0 1.5em 0;
    padding: 0 0 0 15px;
}

#content li.linklist {
    margin: 0.25em 1.25em .5em 1em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-style: normal;
    text-decoration: none;
    color: #000000;
}

#content ul.homepagelinklist {
    list-style: none;
}

#content li.homepagelinklist {
    margin-bottom: .5em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-style: normal;
    text-decoration: none;
    margin-right: 1.25em;
    margin-left: -30px;
    color: #000000;
}

#content ul.simplelist {
    list-style: none;
}

#content li.simplelist {
    margin-bottom: .5em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 95%;
    font-weight: bold;
    margin-right: 1.25em;
    margin-left: -30px;
    color: #0047B3;
}

#content .twocolumnlist {
    margin-top: .75em;
    margin-bottom: 1.25em;
    column-count: 2;
    column-fill: balance;
    column-width: auto;
}

#content ul.columnlist {
    list-style: none;
    margin: 0;
    padding-left: 1em;
}

#content li.columnlist {
    margin-bottom: .25em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-style: normal;
    margin-right: 1.25em;
    color: #000000;
}

#content .fourcolumnlist {
    margin-top: 1em;
    margin-bottom: 1.25em;
    column-count: 4;
    column-fill: balance;
    column-width: auto;
}

#content ul.selectcriteria {
    color: #666666;
    text-align: left;
    margin: 10px 15px 10px 10px;
    padding: 10px 0px 0px 15px;
    font-weight: bold;
    font-size: 110%;
}

#content li.selectcriteria {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: bold;
    display: inline;
    margin: 10px 15px 10px 10px;
    padding: 10px 0px 0px 0px;
    color: #000000;
}

#selectcriteria form input, textarea, select, option {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    display: inline-block;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    position: static;
    font-size: 95%;
    font-weight: bold;
    line-height: normal;
}

#selectcriteria input.form-submit-button {
    width: 10em;
    padding: 5px 5px 5px 5px;
    margin: 2px 0 0 0;
    display: inline-block;
    border: 1px solid #0047B3;
    box-sizing: border-box;
    position: static;
    font-size: 95%;
    font-weight: bold;
    line-height: normal;
    background-color: #0047B3;
    color: #FFFFFF;
}

#searchcriteria form input {
    width: 25em;
    padding: 5px 5px 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    position: static;
    font-size: 110%;
    font-weight: bold;
    line-height: normal;
}

#searchcriteria form button {
    width: 7em;
    padding: 5px 5px 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    position: static;
    font-size: 110%;
    font-weight: bold;
    line-height: normal;
    background-color: #0047B3;
    color: #FFFFFF;
}

#content ul.reportcriteria {
    background-color: #FFFFFF;
    text-align: left;
    padding: 5px 0 0 10px;
    font-weight: bold;
    color: #000000;
    font-size: 95%;
    margin: 0;
}

#content li.reportcriteria {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 95%;
    font-style: normal;
    font-weight: bold;
    list-style-type: none;
    padding: 2px 0 0 30px;
    color: #000000;
}

#content li.reportbutton {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    list-style-type: none;
    padding: 10px 0 10px 15px;
}

#content table.listdisplay {
    width: 98%;
    border-collapse: collapse;
    padding: 0;
}

    #content table.listdisplay th {
        background: #CCCCCC;
        color: #0047B3;
        font-size: 100%;
        font-weight: bold;
        text-align: left;
    }

#content tr.headerrow {
    background: #CCCCCC;
    color: #0047B3;
    font-size: 100%;
    font-weight: bold;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-right: 0.5em;
}

#content tr.dateheader {
    background: #CCCCCC;
    color: #000070;
    font-size: 100%;
    font-weight: bold;
    border-top: 10px;
    border-top-color: #FFFFFF;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

#content tr.blankrow {
    background: #FFFFFF;
    color: #FFFFFF;
    font-size: 10%;
    padding-top: 5em;
}

#content tr.underline {
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid #CCCCCC;
}

#content td.underline {
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid #CCCCCC;
}

#content tr.underlinecenter {
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
    border-bottom: 1px solid #CCCCCC;
}

#content td.underlinecenter {
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
    border-bottom: 1px solid #CCCCCC;
}

#content th.center {
    text-align: center;
}

#content td a:link {
    color: #0047B3;
    text-decoration: none;
    font-weight: bold;
}

#content td a:hover {
    color: #0047B3;
    text-decoration: none;
    font-weight: bold;
}

#content td a:visited {
    color: #0047B3;
    text-decoration: none;
    font-weight: bold;
}

#content p.showlink {
    padding-right: 2em;
    text-align: right;
}

#notes li {
    padding-bottom: 0.35em;
}

#notes .noteauthor {
    color: #72746D;
    font-size: 90%;
}

#footer {
    background-color: #0047B3;
    height: 25px;
    line-height: 25px;
    clear: both;
    width: 100%;
    color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 75%;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}

    #footer li {
        display: inline;
        margin-right: 0.5em;
        margin-left: 0.5em;
        color: #FFFFFF;
    }

#main {
    width: 100%;
}

#wrapper {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
