@charset "utf-8";
/* Menu Style */

#menu {
    background-color: #E6E6E6;
    color: #0047B3;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 75%;
    font-style: normal;
    font-weight: bold;
    list-style: none;
    margin: 0px auto 0px 0px;
    height: 28px;
    padding-left: 15px;
}

    #menu li {
        float: left;
        display: block;
        position: relative;
        padding-left: 0.8em;
        padding-right: 0.8em;
        line-height: 28px;
    }

        #menu li:hover {
            z-index: 1000;
            background-color: #E6F0FF;
        }

        #menu li a {
            color: #0047B3;
            display: block;
            outline: 0;
            text-decoration: none;
        }

        #menu li:hover a {
            color: #0047B3;
            z-index: 1000;
        }

        #menu li:hover .drop {
            z-index: 1000;
        }

.dropdown_1column {
    margin: auto;
    float: left;
    position: absolute;
    left: -999em;
    text-align: left;
    padding: 5px 5px 5px 5px;
    background-color: #E6F0FF;
}

.dropdown_1column {
    width: 175px;
}

#menu li:hover .dropdown_1column {
    left: -1px;
    top: auto;
    z-index: 1000;
}

.col_1 {
    display: inline;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}

.col_1 {
    width: 160px;
}

#menu .menu_right {
    float: right;
    margin-right: 0px;
}

#menu li:hover .align_right {
    left: auto;
    right: -1px;
    top: auto;
    z-index: 1000;
}

#menu ul li {
    line-height: 22px;
    text-align: left;
}

#menu li:hover div a {
    text-decoration: none;
    color: #0047B3;
    z-index: 1000;
}

    #menu li:hover div a:hover {
        text-decoration: none;
        color: #0047B3;
        z-index: 1000;
    }

#menu li ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

    #menu li ul hr {
        width: 98%;
        border: none;
        height: 1px;
        margin-left: 0;
        padding-left: 0;
        background-color: #0047B3;
        color: #0047B3;
    }

    #menu li ul li {
        line-height: 22px;
        position: relative;
        padding: 0;
        margin: 0;
        float: none;
        text-align: left;
        width: 170px;
        font-size: 90%;
    }

        #menu li ul li:hover {
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            z-index: 1000;
        }

#submenu {
    background-color: #E6F0FF;
    color: #0047B3;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 75%;
    font-style: normal;
    font-weight: bold;
    list-style: none;
    height: 14px;
    padding-left: 40px;
}

    #submenu li {
        float: left;
        display: block;
        position: relative;
        line-height: 14px;
    }

        #submenu li:hover {
            z-index: 1000;
        }

        #submenu li a {
            color: #0047B3;
            display: block;
            outline: 0;
            text-decoration: none;
        }

        #submenu li:hover a {
            color: #0047B3;
            z-index: 1000;
        }

        #submenu li:hover .drop {
            z-index: 1000;
        }

        #submenu li:hover .dropdown_1column {
            left: -1px;
            top: auto;
            z-index: 1000;
        }

    #submenu .submenu_right {
        float: right;
        margin-right: 0px;
    }

    #submenu li:hover .align_right {
        left: auto;
        right: -1px;
        top: auto;
        z-index: 1000;
    }

    #submenu ul li {
        line-height: 22px;
        text-align: left;
    }

    #submenu li:hover div a {
        text-decoration: none;
        color: #0047B3;
        z-index: 1000;
    }

        #submenu li:hover div a:hover {
            text-decoration: none;
            color: #0047B3;
            z-index: 1000;
        }

    #submenu li ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        #submenu li ul hr {
            width: 98%;
            border: none;
            height: 1px;
            margin-left: 0;
            padding-left: 0;
            background-color: #E6F0FF;
            color: #0047B3;
        }

        #submenu li ul li {
            line-height: 22px;
            position: relative;
            padding: 0;
            margin: 0;
            float: none;
            text-align: left;
            width: 170px;
            font-size: 100%;
        }

            #submenu li ul li:hover {
                background: none;
                border: none;
                padding: 0;
                margin: 0;
                z-index: 1000;
            }
