
body {
    background-color: #f5f5f5;
    margin: 0;
}


/* NAVIGATION BAR ------------------------ */


.navigationBar {
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: #002f87;
    margin: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index:10;
}

#logodiv {
    height: 100%;
    flex: 1;
    align-content: center;
}

#logoImg {
    height:65%;
    display: block;
    justify-items: center;
    margin-left: 2vw;
    margin-right: auto;
}

#websiteTitleDiv  {
    align-content: center;
    height: 100%;
    display: inline-block;
    flex: 4;
    text-align: center;
}

#websiteTitle {
    padding-top: 0px;
    margin-top: auto;
    margin-bottom: auto;
    position: inherit;
    font-size: 175%;
    color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif ;
}

#menuButtonDiv {
    height: 100%;
    flex: 1;
    align-content: center;
}

#menuButtonImg {
    height: 50%;
    display: block;
    justify-items: center;
    margin-left: auto;
    margin-right: 2vw;
}
#menuExitButtonImg {
    display: none;
}

#menuButtonImg:hover {
    cursor: grab;
    opacity: .75;
}

#menuExitButtonImg:hover {
    cursor: grab;
    opacity: .75;
}


/* MENU ---------------------------- */


#menuDiv {
    display: none;
}
.otherPages {
    height: 30px;
    align-content: center;
    width: 150px;
    text-wrap: nowrap;
}
.otherPages:hover {
    background-color: #ffc82e;
}
.otherPagesText {
    all: unset;
    padding-left: 15px;
    color: #002f87;
    font-family: Arial, Helvetica, sans-serif;
}


/* PAGES ------------------------- */


#pageTitleDiv {
    display:block;
    height: 75px;
    margin-top: 75px;
    display: block;
    z-index: 1;
    align-content: center;
    text-align: center;
}
#pageTitle {
    padding-top: 0px;
    margin-top: auto;
    margin-bottom: auto;
    position: inherit;
    font-size: 175%;
    color: 0,0,0 ;
    font-family: Arial, Helvetica, sans-serif ;
}


