body {
    background-image: linear-gradient(white, rgb(224, 224, 224));
    height: 200vh;
}
#PageHeaderDiv {
    background-color: rgb(40, 40, 40);
    position: absolute;
    left:0px;
    top: 0px;
    height:75px;
    width: 100vw;
}
#PageTitleDiv {
    display: inline-flex;
    background-color:;
    height: 100%;
    width: 10vw;
    vertical-align: top;
    position: relative;
    left: 45vw;
    justify-content: center;
}
.PageTitleTxt {
    font-family: Arial;
    align-self: center;
    color: white;
    text-align: center;
}
#LoginDiv {
    display: inline-flex;
    background-color:;
    height: 100%;
    width: 10vw;
    vertical-align: top;
    position: relative;
    left:77.5%;
    justify-content: center;
}
.LoginTxt {
    font-family: Arial;
    align-self: center;
    color: white;
    text-align: center;
}
